@tailwind base;
@tailwind components;
@tailwind utilities;
.typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  animation: typing 3s steps(14) infinite, blink 0.7s infinite;
}

@keyframes typing {
  0% { width: 0 }
  50% { width: 14ch }
  100% { width: 0 }
}

@keyframes blink {
  50% { border-color: transparent }
}
@keyframes floatSlow{
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
}
}
.cursor-glow {
  position: absolute;
  z-index:0;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(99,102,241,0.35), transparent 70%);
  pointer-events: none;
  transform: translate(-50%, -50%);
  filter: blur(80px);
  transition: transform 0.05s linear;
}
